.m3-plain-tooltip-anchor {
  position: relative;
  display: inline-flex;
}

.m3-plain-tooltip {
  position: absolute;
  z-index: 100;
  white-space: nowrap;
  pointer-events: none;

  min-height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--md-sys-color-inverse-surface);
  color: var(--md-sys-color-inverse-on-surface);

  font-family: var(--md-sys-typescale-body-small-font-family);
  font-weight: var(--md-sys-typescale-body-small-font-weight);
  font-size: var(--md-sys-typescale-body-small-font-size);
  line-height: var(--md-sys-typescale-body-small-line-height);
  letter-spacing: var(--md-sys-typescale-body-small-letter-spacing);

  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.m3-plain-tooltip--top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-4px);
}

.m3-plain-tooltip--bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(4px);
}

.m3-plain-tooltip--left {
  right: 100%;
  top: 50%;
  transform: translateY(-50%) translateX(-4px);
}

.m3-plain-tooltip--right {
  left: 100%;
  top: 50%;
  transform: translateY(-50%) translateX(4px);
}
